/* Estilo do Body */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Estilo do Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #426544;
    padding: 5px 10px; /* Diminuir o preenchimento para reduzir o tamanho */
    top: 0;
    z-index: 1000;
    height: 50px;
}

/* Logo */
.logo {
    background-color: #426544; /* Mesma cor do cabeçalho */
    border-radius: 10px; /* Opcional: bordas arredondadas */
}

.logo img {
    display: block; /* Remove espaços indesejados ao redor da imagem */
    max-width: 150px; /* Limita o tamanho da logo */
    height: auto;
}

button.home {
    background-color: #426544;  /* Cor de fundo */
    color: white;               /* Cor do texto */
    border: none;               /* Remove bordas */
    padding: 10px 20px;         /* Espaçamento interno */
    text-align: center;         /* Centraliza o texto */
    text-decoration: none;      /* Remove sublinhado do link */
    display: inline-block;
    font-size: 16px;            /* Tamanho do texto */
    border-radius: 8px;         /* Bordas arredondadas */
    cursor: pointer;            /* Cursor de "mão" ao passar por cima */
}

/* Estilo do link dentro do botão */
button.home a {
    color: white;               /* Cor do texto */
    text-decoration: none;      /* Remove sublinhado */
}

/* Estilo do botão ao passar o mouse */
button.home:hover {
    background-color: #69996c;  /* Muda a cor ao passar o mouse */
}


/* Container de Login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #426544;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para ícones sociais */
.social-icons {
    text-align: center;
    margin-bottom: 20px;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
}

#entrar {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #69996c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#entrar:hover {
    background-color: #69996c;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #69996c;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
