/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #69996c; /* Verde balanceado */
    margin: 0;
    padding: 0;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    background-color: #426544; /* Cor de fundo para o cabeçalho */
}

.logo img {
    width: 300px;
}

.header-right {
    display: flex;
    align-items: center;
}

.login {
    padding: 5px;
    background-color:  #69996c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button.logado, button.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #426544;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

button.logado img, button.logout img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
}

/* Carrossel */
.carousel {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel-item {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 0 0 300px;
}

.carousel-item img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel-item button {
    padding: 10px 20px;
    background-color: #69996c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Seção Sobre */
.about-section {
    text-align: justify;
    color: white;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.about-section img {
    width: 20%;
    display: block;
    margin: 20px auto;
}

/* Rodapé */
footer {
    background-color: #426544;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

footer .contato {
    margin-top: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 200px;
    }

    .header-right {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .carousel-item {
        flex: 0 0 80%;
        margin-bottom: 20px;
    }

    .about-section img {
        width: 30%;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo img {
        width: 150px;
    }

    .carousel-item {
        flex: 0 0 100%;
    }

    .about-section img {
        width: 40%;
    }

    footer {
        font-size: 0.8rem;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo img {
        width: 100px;
    }

    .carousel-item {
        width: 100%;
    }

    .about-section img {
        width: 50%;
    }

    footer {
        font-size: 0.7rem
    }
