/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #69996c; /* Verde balanceado */
    margin: 0;
    padding: 0;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    background-color: #426544; /* Cor de fundo para o cabeçalho */
}

.logo img {
    width: 300px;
}

.home-button {
    background-color: #426544;  /* Cor de fundo */
    color: white;               /* Cor do texto */
    border: none;               /* Remove bordas */
    padding: 10px 20px;         /* Espaçamento interno */
    text-align: center;         /* Centraliza o texto */
    text-decoration: none;      /* Remove sublinhado do link */
    display: inline-block;
    font-size: 16px;            /* Tamanho do texto */
    border-radius: 10px;         /* Bordas arredondadas */
    cursor: pointer;            /* Cursor de "mão" ao passar por cima */
}

.home-button a {
    color: white;               /* Cor do texto */
    text-decoration: none;      /* Remove sublinhado */
}

.home-button:hover {
    background-color: #69996c;  /* Muda a cor ao passar o mouse */
}

button.home {
    background-color: #426544;  /* Cor de fundo */
    color: white;               /* Cor do texto */
    border: none;               /* Remove bordas */
    padding: 10px 20px;         /* Espaçamento interno */
    text-align: center;         /* Centraliza o texto */
    text-decoration: none;      /* Remove sublinhado do link */
    display: inline-block;
    font-size: 16px;            /* Tamanho do texto */
    border-radius: 8px;         /* Bordas arredondadas */
    cursor: pointer;            /* Cursor de "mão" ao passar por cima */
}

/* Estilo do link dentro do botão */
button.home a {
    color: white;               /* Cor do texto */
    text-decoration: none;      /* Remove sublinhado */
}

/* Estilo do botão ao passar o mouse */
button.home:hover {
    background-color: #69996c;  /* Muda a cor ao passar o mouse */
}


.header-right {
    display: flex;
    align-items: center;
}

button.logado, button.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #426544;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

button.logado img, button.logout img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
}

/* Carrossel */
.carousel {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel-item {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 0 0 300px;
}

.carousel-item img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel-item button {
    padding: 10px 20px;
    background-color: #69996c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Seção Sobre */
.about-section {
    text-align: justify;
    color: white;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.about-section img {
    width: 20%;
    display: block;
    margin: 20px auto;
}

/* Rodapé */
footer {
    background-color: #426544;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

footer .contato {
    margin-top: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 200px;
    }

    .header-right {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .carousel-item {
        flex: 0 0 80%;
        margin-bottom: 20px;
    }

    .about-section img {
        width: 30%;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo img {
        width: 150px;
    }

    .carousel-item {
        flex: 0 0 100%;
    }

    .about-section img {
        width: 40%;
    }

    footer {
        font-size: 0.8rem;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo img {
        width: 100px;
    }

    .carousel-item {
        width: 100%;
    }

    .about-section img {
        width: 50%;
    }

    footer {
        font-size: 0.7rem;
        padding: 10px;
    }
}


/* Campanhas */ 

.campaign-image-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.institutions-section {
    text-align: center;
    padding: 20px;
}

.institutions-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.institution-card {
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.institution-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.donate-now-section {
    text-align: center;
    margin: 20px;
}

.donate-now-section button {
    padding: 10px 20px;
    background-color: #69996c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.perfil-section {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.perfil-section ul {
    list-style-type: none;
    padding: 0;
}

.perfil-section ul li {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
}

.perfil-section button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #69996c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.form-section {
    color: #333333;
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Aplicar cor ao texto de todo o formulário */
form {
    color: #333333; /* Escolha a cor desejada */
    font-family: Arial, sans-serif; /* Escolha uma fonte se necessário */
}

/* Se você quiser aplicar especificamente aos rótulos */
form label {
    color: #333333; /* Cor dos textos dos labels */
}

/* Aplicar cor aos textos dentro dos campos de input, textarea, e select */
form input, form textarea, form select {
    color: #333333; /* Cor dos textos dentro dos campos de input, textarea e select */
    font-family: Arial, sans-serif; /* Certificar que a fonte também seja a correta */
}

/* Estilo para espaçamento entre os rótulos e os campos */
.form-section label, 
.form-section input, 
.form-section textarea, 
.form-section select {
    display: block; /* Garante que os rótulos e campos fiquem em blocos separados */
    margin-bottom: 15px; /* Espaço entre cada campo */
    width: 100%; /* Faz o input ocupar toda a largura, opcional */
}

.form-section input, 
.form-section textarea, 
.form-section select {
    padding: 8px; /* Espaçamento interno nos campos */
    box-sizing: border-box; /* Garante que o padding não quebre o layout */
}

/* Se quiser um espaço maior entre os rótulos e os campos */
.form-section label {
    margin-bottom: 5px; /* Espaço entre o rótulo e o campo de input */
}

h2 {
    text-align: center;/* Estilo para o formulário de cadastro */
    form {
        color: #333333; /* Exemplo de cor do texto no formulário */
        font-family: Arial, sans-serif;
    }
    
    /* Estilos específicos para o formulário de instituições */
    .form-section label, .form-section input, .form-section textarea, .form-section select {
        color: #333333; /* Mesma cor do formulário de cadastro */
    }
    
    /* Adicionar um fundo ao formulário, se necessário */
    .form-section {
        background-color: #69996c; /* Cor de fundo especificada */
        padding: 20px;
        border-radius: 10px;
    }
    
    button {
        background-color: #426544; /* Cor do botão */
        color: white; /* Cor do texto do botão */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #3b5a3e; /* Tom mais escuro no hover */
    }
    margin-bottom: 20px;
}


/* Estilização para o formulário de doação */
.form-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.form-section label {
    font-weight: bold;
}

.form-section input[type="text"], 
.form-section input[type="number"], 
.form-section input[type="date"],
.form-section select, 
.form-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Centraliza o texto dentro do input */
}

.form-section button {
    width: 100%;
    padding: 15px;
    background-color: #426544;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-section button[type="button"] {
    background-color: #cc6666;
}

#emailInstituicao, 
#telefoneInstituicao {
    border-radius: 10px; /* Define o raio das bordas arredondadas */
    padding: 10px; /* Adiciona espaço interno */
    border: 1px solid #ccc; /* Exemplo de borda para ficar mais visível */
    width: 100%; /* O campo vai ocupar 100% da largura disponível */
    box-sizing: border-box; /* Garante que o padding não afete o tamanho total */
    text-align: center;
}

/* Ajustes de estilo para o botão de excluir e voltar */
.form-section button[type="button"] {
    background-color: #d9534f;
    margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .institutions-list {
        flex-direction: column;
        align-items: center;
    }

    .institution-card {
        width: 100%;
        max-width: 300px;
    }

    .form-section, .perfil-section {
        padding: 10px;
    }
}
